<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Retailor Login Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/03e96c11a3.js" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        function validPassword(password) {
            return password.length >= 8;
        }

        function validEmpty(string) {

            return string.trim().length > 0;
        }

        function validateButton() {
            const inputPassword = document.getElementById("password").value
            const name = document.getElementById("name").value
            if (!validPassword(inputPassword) || !validEmpty(name)) {
                document.getElementById("submit").disabled = true;
            }
            else {
                document.getElementById("submit").disabled = false;
            }
        }
        function handlePassword(event) {
            const inputEmail = event.target.value;
            if (!validPassword(inputEmail)) {
                document.getElementById("password").className = "form-control is-invalid"
            }
            else {
                document.getElementById("password").className = "form-control is-valid"
            }

            //validateButton()
        }

        function handleName(event) {
            const inputEmail = event.target.value;

            if (!validEmpty(inputEmail)) {

                document.getElementById("name").className = "form-control is-invalid"
            }
            else {
                document.getElementById("name").className = "form-control is-valid"
            }

            //validateButton()
        }

        function handleSelect(event) {
            if (validEmpty(event.target.value)) {
                document.getElementById("type").className = "form-select is-valid"
            }
            else {
                document.getElementById("type").className = "form-select is-invalid"
            }
        }

        function addItem() {
            const itemName = document.getElementById("name").value
            const itemType = document.getElementById("type").value

            const price = document.getElementById("price").value
            const quantity = document.getElementById("quantity").value

            const description = document.getElementById("description").value

            const sellerName = document.getElementById("retailname").textContent
            const sellerId = document.getElementById("id").textContent

            const url = "http://localhost:8080/item/create"



            const body = JSON.stringify({
                itemName,
                itemType,
                price,
                quantity,
                description,
                sellerId,
                sellerName
            })



            fetch(url, {
                method: 'POST',
                body: body,
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(async (res) => {
                if (res.ok) {
                    console.log(res)
                }
                else {
                    console.log("Res", res)
                }
            })
                .catch((err) => {
                    console.log(err)
                })
        }

        function logOut(){
            const url = "http://localhost:8080/retailor/logout"

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(async (res) => {
                window.location.href = res.url
            })
                .catch((err) => {
                    console.log(err)
                })

        }

        function updateOrder(orderId) {
            const orderStatus = document.getElementById(orderId).value

            const url = "http://localhost:8080/order/status/update"
            const body = JSON.stringify({
                id: orderId,
                orderStatus,
            })



            fetch(url, {
                method: 'POST',
                body: body,
                headers: {
                    'Content-Type': 'application/json'
                },
            }).then(async (res) => {
                if (res.ok) {
                    alert("Order Updated")
                    window.location.reload()
                }
                else {

                }
            })
                .catch((err) => {
                    console.log(err)
                })
        }
    </script>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Home Page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false"
                                th:text="'Welcome back, ' + ${retailor.name}">
                                
                            </a>
                            <span
                            th:text="'Member since: ' + ${retailor.joiningDate.date + '-' + retailor.joiningDate.month + '-' + retailor.joiningDate.year}"></span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" onclick="logOut()">Log Out</a></li>
                                
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                <p class="display-6"></p>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <!-- <div class="col text-center">
                <h3 class="" th:text="'Welcome back, ' + ${retailor.name}"></h3>
            </div> -->
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <p th:text="${retailor.id}" hidden id="id"></p>
                <p th:text="${retailor.name}" hidden id="retailname"></p>
                
            </div>
            <div class="col-4"></div>
        </div>
        <div id="items" class="row">

        </div>
        <div class="row">
            <div class="col-5">

            </div>
            <div class="col-4">


                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Product Details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="name" placeholder=""
                                        onchange="handleName(event)">
                                    <label for="name">Name Of Product</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Name cannot be empty!
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" aria-label="select" id="type"
                                        onchange="handleSelect(event)">
                                        <option th:each="item : ${types}" th:text="${item}" th:value="${item}"></option>

                                    </select>
                                    <label for="type">Product Type</label>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Select an item type!
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="price" placeholder=""
                                                onchange="handleName(event)">
                                            <label for="price">Price</label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Price is invalid!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="quantity" placeholder=""
                                                onchange="handleName(event)">
                                            <label for="quantity">Quantity</label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Quantity cannot be empty!
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-floating mb-3">
                                            <textarea type="text" class="form-control" id="description" placeholder=""
                                                onchange="handleName(event)" rows="5"></textarea>
                                            <label for="description">Description</label>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                            <div class="invalid-feedback">
                                                Description cannot be empty!
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-outline-success" onclick="addItem()">Add
                                    Item</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            My Items
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <div class="d-flex gap-3">
                                <h4>My Items:</h4>
                                <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Item Name</th>
                                        <th scope="col">Item Type</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${items}">
                                        <th scope="row" th:text="${item.id}"></th>
                                        <td th:text="${item.itemName}"></td>
                                        <td th:text="${item.itemType}"></td>
                                        <td th:text="${item.price}"></td>
                                        <td th:text="${item.quantity}"></td>
                                        <td th:text="${item.description}"></td>
                                    </tr>

                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Orders
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Item Code</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Bill</th>
                                        <th scope="col">Order Status</th>
                                        <th scope="col">Delivery Location</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="order : ${orders}">
                                        <th scope="row" th:text="${order.item.id}">ewe</th>
                                        <!-- <td th:text="${item.itemName}"></td> -->
                                        <td th:text="${order.item.quantity}">ee</td>
                                        <td th:text="${order.item.quantity} * ${order.item.price}">ee</td>
                                        <td>
                                            <div class="form-floating mb-3">
                                                <select class="form-select" aria-label="select" th:id="${order.id}">
                                                    <option th:each="item : ${statuses}" th:text="${item}"
                                                        th:value="${item}" th:selected="${item == order.orderStatus}">
                                                    </option>

                                                </select>
                                                <label th:for="${order.id}">Status</label>
                                            </div>
                                        </td>
                                        <td
                                            th:text="${order.deliveryLocation.street + ', ' + order.deliveryLocation.city + ', ' + order.deliveryLocation.state + ' - ' + order.deliveryLocation.pinCode}">
                                            iurrrrrrrrrrrrrrrrrrrrg
                                        </td>
                                        <td>
                                            <button class="btn btn-outline-success"
                                                th:attr="onclick=|updateOrder('${order.id}')|">
                                                <i class="fa-solid fa-check"></i>
                                            </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Accordion Item #3
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>This is the third item's accordion body.</strong> It is hidden by default, until the
                            collapse plugin adds the appropriate classes that we use to style each element. These
                            classes control the overall appearance, as well as the showing and hiding via CSS
                            transitions. You can modify any of this with custom CSS or overriding our default variables.
                            It's also worth noting that just about any HTML can go within the
                            <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div> -->
            </div>
           

        </div>
    </div>

</body>

</html>